{% extends "admin/change_form.html" %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}common/js/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".field-imagen > input").change(function() {
                var reader = new FileReader();
                reader.onload = function (e) {
                    alert("hola");
                    var img = $(this).before("<img class='preview'/>");
                    alert(img);
                    $(this).prev().attr('src', e.target.result);
                };
            });
        });
    </script>
{% endblock %}